/* Global CSS themes for Vantage */

#logo {
    width: 70px;
}

.navbar-brand {
    padding-top: 3px;
    padding-bottom: 3px;
}

th {
    text-align: center;
}

table {
    font-size: 75%;
}

.cardinal-red {
    background-color: #8C1515;
    Opacity: 0.7;
}

.whitesmoke:link {
    color: #f5f5f5;
}

.whitesmoke:visited {
    color: #f5f5f5;
}
