<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

    <import resource="Spring-Datasource.xml" />
    <import resource="Spring-linkDAO.xml" />
    <import resource="spring-security.xml" />
    <!--This Was Breaking it-->
    <!--<import resource="mvc-dispatcher-servlet.xml" />-->

</beans>