<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

    <import resource="../webapp/WEB-INF/Spring-Datasource.xml" />
    <import resource="classpath:SpringDB/Spring-linkDAO.xml" />
    <import resource="../webapp/WEB-INF/spring-security.xml" />
    <import resource="../webapp/WEB-INF/mvc-dispatcher-servlet.xml" />

</beans>